@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: hsl(207, 44%, 49%);
}

a:visited {
    color: blueviolet;
}

a:hover, a:focus {
    color: hsl(207, 44%, 49%, 0.8);
    background-color: yellow;
}

a:active {
    color: red;
}

