*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.5rem;
    padding: 1rem;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: rgb(255, 255, 105);
    border: 2px solid;
    border-radius: 1rem;
    justify-content: space-between;
    align-items:center;
}

article.columns {
    columns: 4 300px;
    column-rule: 3px solid #333;
    margin-bottom: 2rem;
}

main {
    padding: 0rem 2rem ;
}

.job {
    font-size: 2.5rem;
    margin: 8rem;
    text-align: center;
}

footer {
    font-size: 1rem;
    text-align: center;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

li a:hover,
li a.focus {
    color: blueviolet;
}


.logo img {
    border-radius: 8px;
}

.end {
    margin: 20px;
    font-size: 2rem;
}